<div id="guest-form">
	{{form_start(guestForm, {'attr': {'id': 'guest-manager-form'}})}}
		<fieldset>
			<legend>New guest</legend>
			<fieldset>
				<legend class="js-gmf">Name</legend>
				<div id="guest-manager-form-name">
					{{form_row(guestForm.title, {'attr': {'placeholder': 'Manager.Guest.Title'}})}}
					{{form_row(guestForm.firstName, {'attr': {'placeholder': 'Manager.Guest.FirstName'}})}}
					{{form_row(guestForm.lastName, {'attr': {'placeholder': 'Manager.Guest.LastName'}})}}				
				</div>
			</fieldset>
			<fieldset>
				<legend class="js-gmf">Address</legend>
				<div id="guest-manager-form-address">
					{{form_row(guestForm.address, {'attr': {'placeholder': 'Manager.Guest.Address'}})}}
					{{form_row(guestForm.city, {'attr': {'placeholder': 'Manager.Guest.City'}})}}
					{{form_row(guestForm.zip, {'attr': {'placeholder': 'Manager.Guest.Zip'}})}}
					{{form_row(guestForm.country, {'attr': {'placeholder': 'Manager.Guest.Country'}})}}
				</div>
			</fieldset>
			<fieldset>
				<legend class="js-gmf">Contact</legend>
				<div id="guest-manager-form-contact">
					{{form_row(guestForm.phone, {'attr': {'placeholder': 'Manager.Guest.Phone'}})}}
					{{form_row(guestForm.mobilePhone, {'attr': {'placeholder': 'Manager.Guest.MobilePhone'}})}}
					{{form_row(guestForm.email, {'attr': {'placeholder': 'Manager.Guest.Email'}})}}
				</div>
			</fieldset>
			<fieldset>
				<legend class="js-gmf">Info</legend>
				<div id="guest-manager-form-info">
					{{form_row(guestForm.company, {'attr': {'placeholder': 'Manager.Guest.Company'}})}}
					{{form_row(guestForm.plus)}}
					{{form_row(guestForm.info, {'attr': {'placeholder': 'Manager.Guest.Info'}})}}
				</div>
			</fieldset>
			<fieldset>
				<legend class="js-gmf">Options</legend>
				<div id="guest-manager-form-options">
					{{form_row(guestForm.vip)}}
					{{form_row(guestForm.guestgroup, {'attr': {'placeholder': 'Manager.Guest.GuestGroup'}})}}
				</div>
			</fieldset>
		</fieldset>
		{{form_row(guestForm.submit, {'label': 'Manager.Guest.Submit.Create'})}}
	{{form_end(guestForm)}}
</div>
{% block stylesheets %}
	<style>
		#guest-manager-form fieldset {
			display: inline-block;
			vertical-align: top;
		}
		#guest-manager-form legend {
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block javascript %}
	<script type='text/javascript'>
		$('.js-gmf').siblings().hide();
		$('#guest-manager-form-name').show();
		$(document).ready(function(){
			$('.js-gmf').click(function(){
				var elem = $(this).siblings();
				if(elem.is(':hidden')) {
					elem.show();
				} else {
					elem.hide();
				}
			});
			$('#js-test-button').click(function(){
				reloadGuestGroups();
			});
		});
	</script>
{% endblock %}